@page "/howtopage"

<div class="helpBut">HELP</div>

<h2>HowToPage</h2>
<h3>
    Steps
</h3>
<ul>
    <li>nuget Blazored.LocalStorage</li>
    <li>add @using Blazored.LocalStorage to the razor page in question</li>
    <li>add 	
 inject Blazored.LocalStorage.ILocalStorageService localStore to the top of the same razor page</li>

</ul>











@code {
   
}
