@page "/howtopage"

<div class="helpBut">HELP</div>

<h2>HowToPage</h2>
<h3>
    Steps
</h3>
<ol>
    <li>nuget Blazored.LocalStorage</li>
    <li>add builder.Services.AddBlazoredLocalStorage(); to C:\Users\PC\source\repos\AccessingLocalStorageBlazor\AccessingLocalStorageBlazor\Shared\MainLayout.razor</li>
    <li>add @using Blazored.LocalStorage to the razor page in question</li>
    <li>@using Blazored.LocalStorage and 
@inject Blazored.LocalStorage.ISyncLocalStorageService  localStorage to the top of your razor page</li>
    <li>see the sample code in index.razor for more details on how to read and set local storage.</li>
</ol>











@code {
   
}
