@page  "/"
@using Blazored.LocalStorage
@inject Blazored.LocalStorage.ISyncLocalStorageService  localStorage


<h1>Save and Load Razor Demo</h1>
<br>
<p>
    Here we save the file    
    <button @onclick="UpdateLocalStorage">save file</button>
</p>
<br />
<p>
    Here we load the file    
    <button @onclick="GetLocalStorage">load file</button>
</p>
<textarea @bind="noteContent"></textarea>

@code{


    const string noteKey = "note";
    string noteContent="initial";
    
    
    private ISyncLocalStorageService LocalStorage;


    public  void UpdateLocalStorage()
    {
        try
        {
            localStorage.SetItem("note", noteContent);
        }
        catch (ArgumentException e)
        {  }
    }

    public  void ClearLocalStorage()
    {
        noteContent = "";
        localStorage.Clear();
    }

    public void GetLocalStorage()
    { 
        noteContent = localStorage.GetItem<string>(noteKey);   
    }

}